:root {
  --primary: #ffffff;
  --secondary: #f5f5f5;
  --error: #ce0606;
  --success: #3bba9c;
  --nav: #333333;
  --white: #ffffff;
  --black: #000000;
  --input: #d6d6d6;
  --r1: 0.1rem;
  --r2: 0.2rem;
  --r3: 0.5rem;
  --r4: 1rem;
  --r5: 2rem;
  --font: 'Open Sans', sans-serif;
  --fontSize: 1rem;
}