:root {
  --primary: #ffffff;
  --secondary: #f5f5f5;
  --error: #ce0606;
  --success: #3bba9c;
  --nav: #333333;
  --white: #ffffff;
  --black: #000000;
  --error-input: red;
  --error-input-background: rgba(255, 0, 0, 0.1);
  --overlay-background: rgba(0, 0, 0, 0.5);
  --input: #d6d6d6;
  --r1: 0.1rem;
  --r2: 0.2rem;
  --r3: 0.5rem;
  --r4: 1rem;
  --r5: 2rem;
  --font: "Open Sans", sans-serif;
  --fontSize: 1rem;
  --box-shadow: 0px 0px 2px 0px rgba(66, 68, 90, 1);
}
